* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Ubuntu, sans-serif;
}

body {
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.piano {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	width: 1000px;
	height: 400px;
	margin: 100px auto 0;
	border-radius: 20px;
	background-color: #131313;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
}

.controls {
	display: flex;
	justify-content: space-between;
	width: 100%;
	color: rgba(255, 255, 255, 0.8);
	padding: 30px;
}

.controls h1 {
	font-size: 1.4rem;
	font-weight: 500;
}

.switcher {
	display: flex;
	width: 50px;
	height: 25px;
	background-color: #555;
	border-radius: 50px;
	padding: 4px;
	transition: all 0.3s ease-in-out;
}

.switcher__button {
	height: 100%;
	aspect-ratio: 1/1;
	background-color: #ddd;
	border-radius: 50%;
}

.switcher--active {
	background-color: #a8a9ad;
	justify-content: flex-end;
}

.checkbox__label {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.piano__keys {
	display: flex;
	width: 100%;
	height: 300px;
	background-color: #181818;
	border-radius: 15px;
	padding: 30px 40px;
}

.piano__keys .white:nth-child(1) {
	margin-left: 0;
}

.piano__keys .white:nth-child(5),
.piano__keys .white:nth-child(12),
.piano__keys .white:nth-child(17) {
	margin-right: 20px;
}

.white {
	flex-grow: 1;
	background-color: #f3f3f3;
	color: rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	border-bottom: 8px solid #ddd;
	margin-left: -17px;
	z-index: 1;
}

.key span {
	position: absolute;
	font-weight: 600;
	transition-duration: 300ms;
}

.key {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	padding-bottom: 0.5rem;
	user-select: none;
}

.black {
	width: 40px;
	background: linear-gradient(#000, #333);
	color: rgba(255, 255, 255, 0.3);
	height: 150px;
	border-radius: 0 0 5px 5px;
	border-bottom: 8px solid #222;
	margin-left: -20px;
	z-index: 2;
}

.black--pressed {
	background: linear-gradient(#333, #000);
	border-bottom: none;
	height: 148px;
}

.disabled-keys span {
	opacity: 0;
}
